# ported from the Fabric accesswidener, using the official names

public net.minecraft.core.component.DataComponents register(Ljava/lang/String;Ljava/util/function/UnaryOperator;)Lnet/minecraft/core/component/DataComponentType;
public net.minecraft.world.level.storage.loot.BuiltInLootTables LOCATIONS
public net.minecraft.core.particles.SimpleParticleType <init>(Z)V
public net.minecraft.world.entity.LivingEntity attackStrengthTicker
public net.minecraft.world.entity.LivingEntity detectEquipmentUpdates()V
public net.minecraft.world.level.levelgen.structure.structures.NetherFortressPieces$NetherBridgePiece
public net.minecraft.world.level.levelgen.structure.StructurePiece generateBox(Lnet/minecraft/world/level/WorldGenLevel;Lnet/minecraft/world/level/levelgen/structure/BoundingBox;IIIIIILnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/block/state/BlockState;Z)V
public net.minecraft.world.level.levelgen.structure.StructurePiece placeBlock(Lnet/minecraft/world/level/WorldGenLevel;Lnet/minecraft/world/level/block/state/BlockState;IIILnet/minecraft/world/level/levelgen/structure/BoundingBox;)V
public net.minecraft.world.level.levelgen.structure.StructurePiece getWorldPos(III)Lnet/minecraft/core/BlockPos$MutableBlockPos;
public net.minecraft.world.level.block.entity.trialspawner.TrialSpawnerConfigs$Keys
public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity items
public net.minecraft.world.level.block.Blocks shulkerBoxProperties(Lnet/minecraft/world/level/material/MapColor;)Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;
public net.minecraft.world.entity.Mob goalSelector
public net.minecraft.world.entity.Mob targetSelector
public net.minecraft.client.animation.KeyframeAnimation bake(Lnet/minecraft/client/model/geom/ModelPart;Lnet/minecraft/client/animation/AnimationDefinition;)Lnet/minecraft/client/animation/KeyframeAnimation;
public net.minecraft.world.level.block.Block registerDefaultState(Lnet/minecraft/world/level/block/state/BlockState;)V
public net.minecraft.client.renderer.blockentity.BedRenderer headModel
public net.minecraft.client.renderer.blockentity.BedRenderer submitPiece(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/SubmitNodeCollector;Lnet/minecraft/client/model/Model$Simple;Lnet/minecraft/core/Direction;Lnet/minecraft/client/resources/model/Material;IIZLnet/minecraft/client/renderer/feature/ModelFeatureRenderer$CrumblingOverlay;I)V
public net.minecraft.client.renderer.blockentity.BedRenderer footModel
public net.minecraft.world.level.block.ObserverBlock startSignal(Lnet/minecraft/world/level/LevelReader;Lnet/minecraft/world/level/ScheduledTickAccess;Lnet/minecraft/core/BlockPos;)V
public net.minecraft.world.entity.animal.bee.Bee setHasNectar(Z)V
public net.minecraft.world.entity.animal.dolphin.Dolphin$DolphinSwimToTreasureGoal
public net.minecraft.world.entity.animal.dolphin.Dolphin$DolphinSwimWithPlayerGoal
public net.minecraft.world.entity.animal.dolphin.Dolphin$PlayWithItemsGoal
public net.minecraft.world.level.block.state.properties.BlockSetType register(Lnet/minecraft/world/level/block/state/properties/BlockSetType;)Lnet/minecraft/world/level/block/state/properties/BlockSetType;
public net.minecraft.world.level.block.state.properties.WoodType register(Lnet/minecraft/world/level/block/state/properties/WoodType;)Lnet/minecraft/world/level/block/state/properties/WoodType;
public net.minecraft.world.level.block.entity.BaseContainerBlockEntity name
public net.minecraft.world.entity.monster.skeleton.AbstractSkeleton getStepSound()Lnet/minecraft/sounds/SoundEvent;
public net.minecraft.world.entity.Mob isSunBurnTick()Z
