# ported from nekomasfixed.accesswidener. the class, method and field names are still Yarn, so nothing here is live yet -
# each line is enabled once it has been remapped to the official names.

#public net.minecraft.component.DataComponentTypes register(Ljava/lang/String;Ljava/util/function/UnaryOperator;)Lnet/minecraft/component/ComponentType;
#public net.minecraft.loot.LootTables LOOT_TABLES
#public net.minecraft.particle.SimpleParticleType <init>(Z)V
#public net.minecraft.entity.LivingEntity ticksSinceLastAttack
#public net.minecraft.entity.LivingEntity sendEquipmentChanges()V
#public net.minecraft.structure.NetherFortressGenerator$Piece
#public net.minecraft.structure.StructurePiece fillWithOutline(Lnet/minecraft/world/StructureWorldAccess;Lnet/minecraft/util/math/BlockBox;IIIIIILnet/minecraft/block/BlockState;Lnet/minecraft/block/BlockState;Z)V
#public net.minecraft.structure.StructurePiece addBlock(Lnet/minecraft/world/StructureWorldAccess;Lnet/minecraft/block/BlockState;IIILnet/minecraft/util/math/BlockBox;)V
#public net.minecraft.structure.StructurePiece offsetPos(III)Lnet/minecraft/util/math/BlockPos$Mutable;
#public net.minecraft.block.spawner.TrialSpawnerConfigs$ConfigKeyPair
#public net.minecraft.block.entity.BlockEntityType$BlockEntityFactory
#public net.minecraft.block.entity.BrewingStandBlockEntity inventory
#public net.minecraft.block.Blocks createShulkerBoxSettings(Lnet/minecraft/block/MapColor;)Lnet/minecraft/block/AbstractBlock$Settings;
#public net.minecraft.entity.mob.MobEntity goalSelector
#public net.minecraft.entity.mob.MobEntity targetSelector
#public net.minecraft.client.render.entity.animation.Animation of(Lnet/minecraft/client/model/ModelPart;Lnet/minecraft/client/render/entity/animation/AnimationDefinition;)Lnet/minecraft/client/render/entity/animation/Animation;
#public net.minecraft.block.Block setDefaultState(Lnet/minecraft/block/BlockState;)V
#public net.minecraft.client.render.block.entity.BedBlockEntityRenderer bedHead
#public net.minecraft.client.render.block.entity.BedBlockEntityRenderer renderPart(Lnet/minecraft/client/util/math/MatrixStack;Lnet/minecraft/client/render/command/OrderedRenderCommandQueue;Lnet/minecraft/client/model/Model$SinglePartModel;Lnet/minecraft/util/math/Direction;Lnet/minecraft/client/util/SpriteIdentifier;IIZLnet/minecraft/client/render/command/ModelCommandRenderer$CrumblingOverlayCommand;I)V
#public net.minecraft.client.render.block.entity.BedBlockEntityRenderer bedFoot
#public net.minecraft.block.ObserverBlock scheduleTick(Lnet/minecraft/world/WorldView;Lnet/minecraft/world/tick/ScheduledTickView;Lnet/minecraft/util/math/BlockPos;)V
#public net.minecraft.entity.passive.BeeEntity setHasNectar(Z)V
#public net.minecraft.entity.passive.DolphinEntity$LeadToNearbyTreasureGoal
#public net.minecraft.entity.passive.DolphinEntity$SwimWithPlayerGoal
#public net.minecraft.entity.passive.DolphinEntity$PlayWithItemsGoal
#public net.minecraft.block.BlockSetType register(Lnet/minecraft/block/BlockSetType;)Lnet/minecraft/block/BlockSetType;
#public net.minecraft.block.WoodType register(Lnet/minecraft/block/WoodType;)Lnet/minecraft/block/WoodType;
#public net.minecraft.block.entity.LockableContainerBlockEntity customName
#public net.minecraft.entity.mob.AbstractSkeletonEntity getStepSound()Lnet/minecraft/sound/SoundEvent;
#public net.minecraft.entity.mob.MobEntity isAffectedByDaylight()Z
